.opearating-area-container {
	/* background-color: red; */
	overflow: hidden;
}
.opearating-area-container .opearating-area-row {
  display: flex;
}

.coder-pad {
	height: calc(100vh - 56px - 4px - 44px - 24px - 24px - 4px - 8px - 24px);
}

.coder-con {
  width: 50%;
}

/* .overflow-guard,
.monaco-editor {
  border-radius: 0.375rem;
  box-shadow: 2px 5px 15px 0 rgb(0 0 0 / 8%);
} */

.coder-title {
	font-weight: 700;
	font-size: 1.25rem;
    line-height: 1.25rem;
	/* color: #334155; */
	margin-top: 24px;
	margin-bottom: 12px;

	display: flex;
	align-items: center;
	gap: 4px;
}
.coder-title,
.theme-dropdown {
	margin-left: 24px;
}
.avatar-container {
	position: absolute;
	/* top: -100vh; */
	right: 5%;
	margin-top: 1rem;
}
