.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.footer h1,
.footer p {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  line-height: 1;
  /* color: #212529; */
  margin-bottom: 0;
}

.buy-coffe {
	margin-left: 8px;
  z-index: 150;
}

.link,
.buy-coffe {
	font-weight: 600;
	color: #cb3837;
}

.link:hover,
.buy-coffe:hover {
  color: #fff;
}
